body {
    margin: 0;
    background: rgb(0, 0, 0, 0.4);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

@font-face {
    font-family: "Montserrat-Thin";
    src: url(../assets/fonts/Montserrat-Thin.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat-Italic";
    src: url(../assets/fonts/Montserrat-Italic-VariableFont_wght.ttf);
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: "MontserratAlternates-SemiBold";
    src: url(../assets/fonts/MontserratAlternates-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

/* Conatiner */

.container {
    width: 100%;
    max-width: 1024px;
    margin: auto;
}
.container1 {
    width: 100%;
    max-width: 1024px;
    margin: auto;
}

/* Intro */

.intro-title {
    width: 940px;
    height: 126px;
    color: rgb(255, 255, 255);
    font-size: 54px;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.intro-subtitle {
    width: 940px;
    height: 117px;
    color: #fff;
    line-height: normal;
    font-size: 24px;
    font-family: "Montserrat-Italic", sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

/* Contact */
.ct-container {
    border-top: 45px;
    width: 60%;
    border-top: 45px;
    margin: auto;
    margin-top: 5%;
    height: 100vh;
}
.ct-title {
    color: #fff;
    width: 1024px;
    font-size: 48px;
}
.ct-sub {
    color: #fff;
    display: flex;
    font-size: 24px;
}

/* Tel */
.tel {
    margin-top: 17px;
    color: #fff;
}

/* FaQ*/

.faq_conatiner {
    width: 100%;
    height: auto;
}
.faq__title {
    font-size: 50px;
    color: #fff;
    height: auto;
    text-align: center;
}

/* Intro-2 */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 615px;
    background: url(./assets/images/004.jpg) center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}
.intro-nobg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    -webkit-background-size: cover;
}


.intro-title {
    width: 940px;
    height: 126px;
    color: rgb(255, 255, 255);
    font-size: 54px;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.intro-subtitle {
    width: 940px;
    height: 117px;
    color: #fff;
    line-height: normal;
    font-size: 24px;
    font-family: "Montserrat-Italic", sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

/* Header */

.header {
    width: 100%;
    background: #ffffff;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    color: #000;
}
.header_logo {
    font-size: 30px;
}
.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Nav */

.nav {
    font-size: 15px;
    text-transform: uppercase;
}
.nav-link {
    text-decoration: none;
    margin: 0 25px;
    color: rgb(0, 0, 0);
    position: relative;


}
.nav-link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
}
.nav-link:hover:after {
    display: block;
}

/* Section */

.section {
    padding-top: 80px;
    padding-bottom: 20px;
}
.section-header {
    max-width: 950px;
    margin-bottom: 40px;
    margin: auto;
    text-align: center;
}
.section-title {
    font-family: "MontserratAlternates-SemiBold", sans-serif;
}
.section-text {
    font-family: "Montserrat-Italic", sans-serif;
    color: #fff;
    font-size: 24px;
}

/* brand */

.brand-title {
    font-size: 50px;
    line-height: 55px;
    font-weight: 700;
    text-align: center;
    color: rgb(255, 255, 255);
}
.brand-subtitle {
    border-top: 45px;
    line-height: 30px;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    color: #fff;
}
.brand-content {
    font-family: "MontserratAlternates-SemiBold", sans-serif;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
}

/* images */
.img-cont {
    height: 100%;
    margin: 100px auto;
}
.img {
    width: 1280px;
    height: auto;
    margin: 0 auto;
}

/* form */
.frcont {
    width: 75%;
    height: 500px;
    max-width: 1024px;
    margin: auto;
}
.ctform {
    
    padding-bottom: 20px;
}

h2.cont {
    max-width: 1024px;
    height: auto;
    color: #fff;
    font-size: 66px;
}
p.cont {
    font-size: 24px;
    margin-bottom: 15px;
    line-height: 36px;
    width: 700px;
    color: #fff;
}
#cont {
    margin-bottom: 0px;
}
input[type="text"] {
    width: 400px;
}    
textarea {
    width: 600px;;
}
input, textarea {
    background-color: rgba(255, 255, 255, 0.4);
    border: 5px solid rgba(122, 192, 0, 0.15);
    padding: 10px;
    font-size: 14px;
    margin-top: -15px;
}
input:focus, textarea:focus {
    border: 5px solid #ff5400;
    background-color: rgba(255, 255, 255, 1);
}
input[type="submit"] {
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
    margin-top: 20px;
    background-color: #7ac000;
    padding: 5px 36px 8px 36px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.23, #619702),
        color-stop(0.62, #7ac000)
        );
    background: -moz-linear-gradient(center bottom,
        #619702 23%,
        #7ac000 62%
        );
}
input[type="submit"]:hover {
    color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    background-color: #ff5400;
    background: -webkit-gradient(linear,
            left bottom,
            left top,
            color-stop(0.23, #c34000),
            color-stop(0.62, #ff5400));
    background: -moz-linear-gradient(center bottom,
            #c34000 23%,
            #ff5400 62%);
}
input[type="submit"]:active {
    top: 1px;
}

/* footer */
.footer__container {
    background: #000;
    height: 60px;
}
.footer__content {
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.footer__police {
    width: 270px;
    height: 40px;
    padding-top: 5px;
    padding-left: 50px;
    color: #fff;
    font-family: "Montserrat-Thin";
    font-size: 14px;
}
